{% 
    set images = [
       {
          'front'  : 'img/f1.jpg',
          'rear'   : 'img/b1.jpg',
          'icNum'  : '951109-14-5179',
          'name'   : 'KENNETH LEE RON',
          'citizen': 'WARGANEGARA LELAKI',
          'address': 'NO 32 JALAN TAMAN BUKIT MALURI 7 TAMAN BUKIT MALURI 52100 KUALA LUMPUR W. PERSEKUTUAN(KL)'
       },
       {
          'front'  : 'img/f5.jpg',
          'rear'   : 'img/b2.jpg',
          'icNum'  : '800228-13-5346',
          'name'   : 'LIEW ENG ENG',
          'citizen': 'WARGANEGARA PEREMPUAN',
          'address': 'BLOCK J 7-03 KEM PASUKAN GERAKAN AM 31150 IPOH PERAK'
       },
       {
         'front'  : 'img/f12.jpg',
         'rear'   : 'img/b10.jpg',
         'icNum'  : '840403-12-5089',
         'name'   : 'WONG KEH KAE',
         'citizen': 'WARGANEGARA LELAKI',
         'address': 'NO 1 LORONG SELADANG JALAN MAKTAB GAYA 88300 KOTA KINABALU SABAH'
       },
       {
         'front'  : 'img/f15.jpg',
         'rear'   : 'img/b16.jpg',
         'icNum'  : '530830-08-5209',
         'name'   : 'CHAN SOO HAR',
         'citizen': 'WARGANEGARA LELAKI',
         'address': '64 LORONG 3 JALAN PADANG TEMBAK 36000 TELUK INTAN PERAK'
       },
       {
          'front'  : 'img/f17.jpg',
          'rear'   : 'img/b14.jpg',
          'icNum'  : '460619-12-5087',
          'name'   : 'ABD RAUF BIN HAMSAH',
          'citizen': 'WARGANEGARA ISLAM LELAKI',
          'address': 'KAMPUNG MASJID P O BOX 42 89007 KENINGAU SABAH'
       },
       {
          'front'  : 'img/f19.jpg',
          'rear'   : 'img/b17.jpg',
          'icNum'  : '881019-07-XXXX',
          'name'   : 'OH CHIN ENG',
          'citizen': 'WARGANEGARA XXXXXX',
          'address': '10470 GEORGETOWN PULAU PINANG'
       },
    ]
 %}