<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% if errorCode == '404' %}<title>{{errorCode}} Page Not Found</title>{% endif %}
      {% if errorCode == '400' %}<title>{{errorCode}} Bad Request</title>{% endif %}

      <link rel="icon" href="{{ url_for('static', filename='logo/MyKad.png') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
   </head>

   <body>
      <div id="loader">
         <div class="loader-anim"></div>
      </div>
      {% include 'header.html' %}

      <section id="main-content" class="d-flex align-items-center">
         <div class="container">
            <div class="row">
               <div class="error-code col-lg-6">
                  {{errorCode}}
               </div>
               <div class="col-lg-6 pt-5 pt-lg-0 d-flex flex-column justify-content-center">
                  {% if errorCode == '404' %}
                     <h1>Page <br> Not Found</h1>
                     <h2>Oops! The page you requested was not found. You may proceed back to the homepage.</h2>
                     <div class="pb-5">
                        <a href="/" class="btn-get-started">Back to Home</a>
                     </div>
                  {% endif %}

                  {% if errorCode == '400' %}
                     <h1>Bad <br> Request</h1>
                     <h2>Oops! The input was not found. You may proceed to select a set of MyKad images first.</h2>
                     <div class="pb-5">
                        <a href="/verification" class="btn-get-started">Select Images</a>
                     </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </section>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
   </body>
</html>