<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>MyKad Verification Web Service</title>

      <link rel="icon" href="{{ url_for('static', filename='logo/MyKad.png') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
   </head>

   <body>
      <div id="loader">
         <div class="loader-anim"></div>
      </div>
      {% include 'header.html' %}      
      
      <section id="main-content" class="d-flex align-items-center">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 order-2 order-lg-1 main-content-img">
                  <img src="./static/bg/bg-index.png" class="disable-drag img-fluid animated" />
               </div>
               <div class="col-lg-6 pt-5 pt-lg-0 order-1 order-lg-2 d-flex flex-column justify-content-center">
                  <h1>MyKad Verification <br> Web Service</h1>
                  <h2>Demonstrate the verification by selecting a set of MyKad images</h2>
                  <div class="pb-5">
                     <a href="/verification" class="btn-get-started">Get Started</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
   </body>
</html>